html,body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    top: 0;
    overflow-x: hidden;
    margin: 0;
    background-image: url('my-hero-academia.jpg');
    object-fit: contain;
}

:root{
    --maincolor: rgb(174, 0, 255)
}


.welcomebox{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--maincolor);
    border-radius: 20px;
    height: 110vh;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 8px 32px 0(rgba(0, 0, 0, 0.37));
margin-bottom: 40px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.nav{
    margin-bottom: 70px;
    z-index:1
}
h3{
    font-size: 35px;
    font-family:Lato;
    color: blueviolet;
    font-weight: 600;
   

}
.glass{
    width: 70px;
height: 50px;
position: absolute;
margin-top: -500px;
background:rgba(255,255,255, 0.1);
box-shadow: 0 25px 45px rgba(0,0,0,0.2);
border-radius: 10px;
border: 2px solid rgba(255,255,255, 0.5);
border-right: 2px solid rgba(255,255,255, 0.2);
border-bottom: 2px solid rgba(255,255,255, 0.2);
backdrop-filter: blur(10px);
transform: translate(-150px);
transition: all 0.3s ease;
animation: move 10s infinite;
display: flex;
}

@keyframes move {
 0%{
transform: translate(-150px);
 }  
 50%{
    transform: translate(150px);
 }
 100%{
transform: translate(-150px);
 } 
}

p1{
    font-size: 20px;
    font-family:Open Sans;
    color: wheat;
}

.inputcont{
    margin-top: 50px;
    display: flex;;
    flex-direction: column;
}
p2 a{
    color: var(--maincolor);
}
input{
    width:400px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: white;
    margin-bottom: 20px;
    position:relative
}
input:focus{
    outline: none;
}
input::placeholder{
    display: flex;
    justify-content: center;
    position: absolute
}
#lang{
border: none;
box-shadow: 0px 1px 10px;
padding: 10px;
border-radius: 10px;
 background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 8px 32px 0(rgba(0, 0, 0, 0.37));
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: flex;
top: 10px;
position: absolute;
left: 20px;
}

#register{
    padding:10px;
width: 100px;
background-color: white;
color: grey;
border: 2px solid var(--maincolor);
right: 30px;
display: flex;
position: absolute;
top: 10px;
justify-content: center;
font-family: Manrope;
}
//#signin{
    width: 100px;
    height: 40px;
    background-color: var(--maincolor);
    border: none;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
padding:  15px;
}
#or{
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 100;
}
#options{
    margin-top: 20px ;
}
#options li{
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0px -0px 15px -2px;
    width: 400px;
    height: 40px;
    border-radius: 5px;
   justify-content: center;
   align-items: center;
   transition: all 0.2s ease;
}
#options li:hover{
    scale: 1.05;
}
.white p{
   color: white;
   font-family:Lato;
   font-weight: 300;
}
.white img{
  transform: translate(-100px);
    position: absolute;
    
}

#signin{
    padding: 1em 3em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    color:var(--maincolor);
    background:ash;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

#signin::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
background: linear-gradient(to right, rgb(174, 0, 255), blueviolet);
height: 100%;
width:0%;
transition: 0.25s ease;
}
#signin:hover::after{
    width: 100%;

}

#signin:hover{
    color: white;
}

#register{
    padding: 1em 3em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    border: 1px solid var(--maincolor);
    border-radius: 10px;
    color:white;
    background:var(--maincolor);
    z-index: 0;
    cursor: pointer;
}

#register::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
background: linear-gradient(to right, blueviolet, blueviolet);
height: 100%;
width:0%;
transition: 0.25s ease;
border-radius: 10px;
}
#register:hover::after{
    width: 100%;

}

#register:hover{
    color: white;
}

@media(max-width:770px){
h3{
    margin-top: 60px;
    font-size: 45px;
}
.welcomebox{
    width: 80%;
    margin-top: 50px;
    height: 80vh;
    scale:0.95
}
html, body{
    object-fit: cover;
    background-position-x: -200px;

}

.glass{
    transform: translate(-200px);
    width: 100px;
    visibility: hidden;
}
@keyframes move {
    0%{
transform:translate(-200px);
    }
    50%{
transform: translate(200px);
    }
    100%{
transform: translate(-200px);
    }
}
}

@media (max-width:480px){
    h3{
        font-size: 25px;
        margin-top: 100px;
    }
    p1{
        font-size: 17px;
    }
    .welcomebox{
        width:90%;
        height: 90vh;
        margin-top: 0px;
    }
    #signin{
        margin-top: 30px;
        scale: 0.9;
    }
    .glass{
        margin-top: -520px;
        transform: translate(-120px);
visibility:visible
    }
    @keyframes move {
    0%{
transform:translate(-120px);
    }
    50%{
transform: translate(120px);
    }
    100%{
transform: translate(-120px);
    }
}

p2{
    margin-top: 20px;
    font-family: Manrope;
    margin-bottom:20px;
    color:white;
}
    p2 a{
        color:var(--maincolor)
    }
#options li{
    margin-top: 0px;
    width: 330px;
border-radius: 10px;
font-size: 16px;
}
#options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -30px;
    padding-bottom: 20px;
}
input{
    width: 320px;
    height: 35px;
    font-size:17px
}
#register{
    scale:0.9;
    margin-right:-20px
}
#lang{
    scale:00.9
}
}






